<!doctype html>
<html>
<head>
    <title>Matching Game Dashboard - Chart</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<embed type="image/svg+xml" src= {{ chart }} />
  <a class="waves-effect waves-light btn" href="javascript:window.open('','_self').close();"><i class="material-icons left">close</i>Schließen</a>

<script>
    M.AutoInit();
</script>
</body>